<div class="rounded bg-gray-200 dark:bg-gray-custom p-8 mb-8" id="error-<%= error.id %>" data-identifier="card" data-infinite-scroll-target="card">
  <h1 class="text-gray-custom dark:text-white font-bold text-4xl">
    <div class="flex justify-between items-start">
      <%= link_to error_path(error), class: "hover:text-gray-500 dark:hover:text-gray-300 transition-all duration-200" do %>
        <code class="font-code"><%= error.title %></code>
      <% end %>
      <div class="text-base font-normal flex">
        <span class="mr-1"><%= error.votes %></span>
        <span>👍</span>
      </div>
    </div>
  </h1>

  <div class="my-6">
    <h2 class="text-gray-custom dark:text-white font-bold text-2xl">Details</h2>
    <p class="text-gray-custom dark:text-white">
      <code class="font-code"><%= error.details %></code>
    </p>
  </div>

  <div class="my-6">
    <h3 class="text-gray-custom dark:text-white font-bold text-xl">Solution</h3>
    <div class="text-gray-custom dark:text-white font-code rounded text-sm" data-controller="syntax-highlighter" data-syntax-highlighter-content-value="<%= error.resolver %>">
    </div>
  </div>

  <div>
    <h3 class="text-gray-custom dark:text-white font-bold text-lg">Keywords</h3>
    <p class="text-gray-custom dark:text-white text-sm">
      <% error.tags.select(:name).pluck(:name).each do |tag| %>
        <span class="rounded-full bg-black text-white py-1 px-2 font-bold shadow"><%= tag %></span>
      <% end %>
    </p>
  </div>

  <% if user_signed_in? && current_user.admin? && error.pending? %>
    <div class="mt-8 flex gap-2">
      <%= button_to "Accept", accept_admin_error_path(error), method: :patch, class: "transition-all duration-250 rounded px-4 py-1 text-lg bg-white text-gray-custom hover:bg-slate-200", data: { turbo: false } %>
      <%= button_to "Reject", reject_admin_error_path(error), method: :patch, class: "transition-all duration-250 rounded px-4 py-1 text-lg border text-white hover:bg-slate-200 hover:text-gray-custom", data: { turbo: false } %>
    </div>
  <% end %>
</div>
