<div class="text-white w-full">
  <h1 class="text-center font-bold text-4xl">Log in</h1>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full" } do |f| %>
    <%= f.input :email,
                autofocus: true,
                wrapper_html: { class: "mt-8" },
                label_html: { class: "text-lg" },
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label_html: { class: "text-lg" },
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean, wrapper_html: { class: "items-center" }, input_html: { class: "mr-2" } if devise_mapping.rememberable? %>

    <%= f.submit "Login", class: "bg-white rounded text-black px-12 py-2 cursor-pointer hover:bg-gray-300 transition-all duration-200 mt-4" %>
  <% end %>

  <div class="my-8">
    <%= render "devise/shared/links" %>
  </div>
</div>
