<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "shared/meta" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 dark:bg-black font-sans">
    <%= render partial: "shared/navbar" %>
    <% if controller_name == "errors" && %w[new edit].include?(action_name) %>
      <%= yield %>
    <% else %>
      <main class="container mx-auto mt-8 px-8 md:px-24 lg:px-80 flex justify-center">
        <%= yield %>
      </main>
    <% end %>
    <% render partial: "shared/flashes" %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
