<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "shared/meta" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black font-sans">
    <%= render partial: "shared/navbar" %>
    <main class="container mx-auto mt-28 px-8 md:px-40 lg:px-80 flex justify-center">
      <%= yield %>
    </main>
    <% render partial: "shared/flashes" %>
  </body>
</html>
